rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Sadece giriş yapmış kullanıcılar kendi verilerini okuyabilir ve yazabilir
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    
    // Diğer tüm erişimleri engelle
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
